.a {
    font-size: 12pt;
    border: black solid; 
}

.b {
    font-size: 13pt;
}

.c {
    font-size: 12pt;
    border: solid black; 
}

img {
    color: red;
}

a {
    color: green;
}

p {
    color: red;
}
